/* Lägger till typsnittet på all text och borttagning av padding, margin samt box-sizing*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rampart One', cursive;
}
/* För att sätta bakgrundsbilden och få den att täcka hela sidan,
utan detta var den för liten och upprepades */
body{
  background-image: url("../img/background1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

/*Stylingen av navbaren och dess items*/
.navbar{
  height: 100px;
  margin-bottom: 2px;
  background-color: floralwhite;
}

.navbarlist{
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;

}
/* för att itemsarna ska sitta i mitten och ta upp den plats som de har blivit givna */
.navbaritems{
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 50px;
  width: 215px;
  height: 100%;
}

.navbarlinks {
  text-decoration: none;
  color:black;
}

.navbarlinks:hover{
  color:blue;
}

#reviews{
  align-self: center;
  text-align: center;
}


#logo{
height: 100%;
align-self: center;
margin-left: 5px;
padding: 5px;
}

#logo2{
  align-self: center;
  margin-right: 5px;
}

#disneyLogo {
  height: 100%;
  align-self: center;
  margin-right: 5px;
}
/* pappret*/
.white1{
  background-color: floralwhite;
  width: 100%;
  height: 100%;
}
/* stylingen av sidans innehåll*/
h1{
  text-align: center;
  margin-bottom: 11px;
}

.bild1{
width: 85%;
height: 85%;
}
.brodtext1{
  margin-left: 3px;
  text-align: center;
}

.brodtext2{
  margin-right: 3px;
  text-align: center;
}
.bild2{
  height:85%;
  width:85%;
}

.bild3{
  width:90%;
  height: 100%;
}

.bild4{
  width:85%;
  height: 100%;
}

.bild5{
width: 75%;
height: 100%;
}
.brodtext5{
  text-align: center;
}
/* sjävla menyn*/
.menu {
  visibility: hidden;
  color: white;
  font-size: 30px !important;
  margin-right: 15px;
}
/* close-texten*/
.close {
  margin: 20px;
  font-size: 30px !important;
}

/* för att den ska ta upp hela sidan, för att den ska ligga över andra element (z-index)och för att det ska ta 0.4 sekunder för den att åka fram */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 10;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* Media query för att få sidan att se bra ut på mobila enheter */
@media only screen and (max-width: 600px) {
  h1{
    font-size: 18px;
  }
  /* för att man inte ska kunna se dessa element när sidan blir för liten */
  #reviews, #reasons, #logo2 {
    display: none;
  }
  /* för att texten ska gå att läsa och inte vara för liten*/
  .brodtext1, .brodtext2, .brodtext3, .brodtext4, .brodtext5{
    font-size: 10px;
  }

  .bild1, .bild2, .bild3, .bild4, .bild5{
    width: 100%;
    height:85%;
  }

  /* för att navbaren ska fungera även när sidan blir mindre */
 .navbarlist{
   flex-direction: row;
   overflow: hidden;
   flex-wrap: nowrap;
 }
}
